{% extends '::base.html.twig' %}

{% block body -%}
	<TABLE BORDER='0' WIDTH='100%' ALIGN='center' >
		<TR>
			<TD ALIGN='center' VALIGN='middle'>
				<img src="{{ asset('rrd/graficos/') }}{{ img }}">
			</TD>
		</TR>
	</TABLE>
{% endblock %}